@model GitBaseResponse<GitCodeSearchResponse>

@{
    var prevPage = (Model.pageNumber - 1) <= 0 ? 0 : Model.pageNumber - 1;
    var nextPage = Model.pageNumber + 1;
}

<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Code Search</a>
    </div>
</nav>

@foreach (var code in Model.items.ToList())
{
    <div class="card">
        <div class="card-body">
            <a href=@code.html_url target="_blank">@code.path </a>
            <br />
            <span class="badge badge-primary">Score: @code.score</span> @*//Score*@
            <span class="badge badge-primary">Language: @code.repository.language</span> @*//Language*@
            <br /><br />
            <a href=@code.repository.html_url class="btn btn-secondary btn-sm btn-block" target="_blank">View Repository</a>
        </div>
    </div>
}

<br />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li onclick="previous()" search-type="Repository" page-number=@prevPage per-page=@Model.perPage sort=@Model.sort order=@Model.order class="page-item liPagePrev page-link cursor-pointer">Previous</li>
        <li onclick="next()" search-type="Repository" page-number=@nextPage per-page=@Model.perPage sort=@Model.sort order=@Model.order class="page-item li-page-next page-link cursor-pointer">Next</li>
    </ul>
</nav>

<script type="text/javascript">
    function previous(e) {
        ajaxGET(e, 'https://localhost:44310/Search/Code?searchTerm=' + $("#searchText").val() + '&perPage=' + @Model.perPage + '&pageNumber=' + @prevPage, "/Home/Code", "Code")
    }

    function next(e) {
        ajaxGET(e, 'https://localhost:44310/Search/Code?searchTerm=' + $("#searchText").val() + '&perPage=' + @Model.perPage + '&pageNumber=' + @nextPage, "/Home/Code", "Code")
    }
</script>