@model GitBaseResponse<GitIssueSearchResponse>

@{
    var prevPage = (Model.pageNumber - 1) <= 0 ? 0 : Model.pageNumber - 1;
    var nextPage = Model.pageNumber + 1;
}

<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Issue Search</a>
    </div>
</nav>

@foreach (var issue in Model.items.ToList())
{
    var lastUpdatedDate = issue.updated_at.HasValue ? issue.updated_at.Value.ToString("yyyy-MMM-dd") : "";
    var createdDate = issue.created_at.HasValue ? issue.created_at.Value.ToString("yyyy-MMM-dd") : "";
    var closedat = issue.closed_at.HasValue ? issue.closed_at.Value.ToString("yyyy-MMM-dd") : "";
    var isPullRequest = issue.pull_request != null;

    if (isPullRequest)
    {
        <div class="card">
            <h6 class="card-header">PULL REQUEST</h6>
            <div class="card-body">
                <a href=@issue.html_url target="_blank">@issue.title </a>
                <p class="h6 text-muted"><a href=@issue.user.html_url target="_blank">@issue.user.login </a></p>
                <span class="badge badge-primary">State: @issue.state</span> @*//State*@
                <span class="badge badge-primary">Comments: @issue.comments</span> @*//Comments*@
                <span class="badge badge-primary">Created On: @createdDate</span> @*//CreatedAt*@
                <span class="badge badge-primary">Updated On: @lastUpdatedDate</span> @*//UpdatedAt*@
                <span class="badge badge-primary">Closed On: @closedat</span> @*//ClosedAt*@
            </div>
        </div>
        <br />
    }
    else
    {
        <div class="card text-white bg-warning">
            <h6 class="card-header">ISSUE</h6>
            <div class="card-body">
                <a href=@issue.html_url target="_blank">@issue.title </a>
                <p class="h6 text-muted"><a href=@issue.user.html_url target="_blank">@issue.user.login </a></p>
                <span class="badge badge-primary">State: @issue.state</span> @*//State*@
                <span class="badge badge-primary">Comments: @issue.comments</span> @*//Comments*@
                <span class="badge badge-primary">Created On: @createdDate</span> @*//CreatedAt*@
                <span class="badge badge-primary">Updated On: @lastUpdatedDate</span> @*//UpdatedAt*@
                <span class="badge badge-primary">Closed On: @closedat</span> @*//ClosedAt*@
            </div>
        </div>
        <br />
    }
}


<br />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li onclick="previous()" search-type="Repository" page-number=@prevPage per-page=@Model.perPage sort=@Model.sort order=@Model.order class="page-item liPagePrev page-link cursor-pointer">Previous</li>
        <li onclick="next()" search-type="Repository" page-number=@nextPage per-page=@Model.perPage sort=@Model.sort order=@Model.order class="page-item li-page-next page-link cursor-pointer">Next</li>
    </ul>
</nav>

<script type="text/javascript">
    function previous(e) {
        ajaxGET(e, 'https://localhost:44310/Search/Issue?searchTerm=' + $("#searchText").val() + '&perPage=' + @Model.perPage + '&pageNumber=' + @prevPage, "/Home/Issue", "Issue")
    }

    function next(e) {
        ajaxGET(e, 'https://localhost:44310/Search/Issue?searchTerm=' + $("#searchText").val() + '&perPage=' + @Model.perPage + '&pageNumber=' + @nextPage, "/Home/Issue", "Issue")
    }
</script>