@model GitBaseResponse<GitRepositorySearchResponse>

@{
    var prevPage = (Model.pageNumber - 1) <= 0 ? 0 : Model.pageNumber - 1;
    var nextPage = Model.pageNumber + 1;
}
<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Repository Search</a>
    </div>
</nav>

@foreach (var repo in Model.items.ToList())
{
    var lastUpdatedDate = repo.updated_at.HasValue ? repo.updated_at.Value.ToString("yyyy-MMM-dd") : "";

    <div class="card">
        <div class="card-body">
            <a href=@repo.html_url target="_blank">@repo.full_name </a>
            <p class="h6 text-muted">@repo.description</p>
            <span class="badge badge-primary">Stars: @repo.stargazers_count</span> @*//Star*@
            <span class="badge badge-primary">Language: @repo.language</span> @*//Language*@
            <span class="badge badge-primary">Last Updated On: @lastUpdatedDate</span> @*//LastUpdated*@
            <br /><br />
            <a href=@repo.homepage class="btn btn-secondary btn-sm btn-block" target="_blank">View Homepage</a>
        </div>
    </div>
}

<br />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li onclick="previous()" search-type="Repository" page-number=@prevPage per-page=@Model.perPage sort=@Model.sort order=@Model.order class="page-item liPagePrev page-link cursor-pointer">Previous</li>
        <li onclick="next()" search-type="Repository" page-number=@nextPage per-page=@Model.perPage sort=@Model.sort order=@Model.order class="page-item li-page-next page-link cursor-pointer">Next</li>
    </ul>
</nav>

<script type="text/javascript">
    function previous(e) {
        ajaxGET(e, 'https://localhost:44310/Search/Repository?searchTerm=' + $("#searchText").val() + '&perPage=' + @Model.perPage + '&pageNumber=' + @prevPage, "/Home/Repository", "Repository")
    }

    function next(e) {
        ajaxGET(e, 'https://localhost:44310/Search/Repository?searchTerm=' + $("#searchText").val() + '&perPage=' + @Model.perPage + '&pageNumber=' + @nextPage, "/Home/Repository", "Repository")
    }
</script>