@model GitBaseResponse<GitUserSearchResponse>

@{
    var prevPage = (Model.pageNumber - 1) <= 0 ? 0 : Model.pageNumber - 1;
    var nextPage = Model.pageNumber + 1;
}

<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">User Search</a>
    </div>
</nav>

@foreach (var user in Model.items.ToList())
{
    var siteAdmin = user.site_admin ? "Yes" : "No";

    <div class="card">
        <div class="card-body">
            <a href=@user.html_url target="_blank">@user.login </a>
            <br />
            <span class="badge badge-primary">User Type: @user.type</span> @*//Type*@
            <span class="badge badge-primary">Site Admin: @siteAdmin</span> @*//SiteAdmin*@
        </div>
    </div>
}

<br />
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li onclick="previous()" search-type="Repository" page-number=@prevPage per-page=@Model.perPage sort=@Model.sort order=@Model.order class="page-item liPagePrev page-link cursor-pointer">Previous</li>
        <li onclick="next()" search-type="Repository" page-number=@nextPage per-page=@Model.perPage sort=@Model.sort order=@Model.order class="page-item li-page-next page-link cursor-pointer">Next</li>
    </ul>
</nav>

<script type="text/javascript">
    function previous(e) {
        ajaxGET(e, 'https://localhost:44310/Search/User?searchTerm=' + $("#searchText").val() + '&perPage=' + @Model.perPage + '&pageNumber=' + @prevPage, "/Home/User", "User")
    }

    function next(e) {
        ajaxGET(e, 'https://localhost:44310/Search/User?searchTerm=' + $("#searchText").val() + '&perPage=' + @Model.perPage + '&pageNumber=' + @nextPage, "/Home/User", "User")
    }
</script>